[submodule "server/racktables"]
	path = server/racktables
	url = https://github.com/ibettinger/racktables
[submodule "python"]
	path = python
	url = https://github.com/ibettinger/racktables-py-client
