#for $host in $allHosts
cobblersystem { '${allHosts[$host]['name']}.eaalab.hpi.uni-potsdam.de':
  ensure     => present,
  profile    => '$allHosts[$host]['cobbler_profile'],
  #for $interface in $allHosts[$host]['ifaces']
  interfaces => { '$allHosts[$host]['ifaces'][$interface]['name']' => {
                    mac_address => '$allHosts[$host]['ifaces'][$interface]['mac']'
                    static      => true,
                    management  => true,
                    ip_address  => '$allHosts[$host]['ifaces'][$interface]['addr']',
                    netmask     => '255.255.255.0', 
                    dns_name    => '$allHosts[$host]['ifaces'][$interface]['fqdn']'
                  },
  #end for
                },
  gateway    => '10.8.16.51',
  hostname   => '${allHosts[$host]['name']}.eaalab.hpi.uni-potsdam.de',
  netboot    => false,
  comment    => '$allHosts[$host]['label']'
}
#end for
