{
"comment":"",
"status":"production",
"kickstart":"<<inherit>>",
"name_servers_search":[
],
"ks_meta":{
},
"kernel_options_post":{
},
"image":"",
"redhat_management_key":"<<inherit>>",
"virt_path":"<<inherit>>",
"power_user":"",
"kernel_options":{
},
"name_servers":[
],
"mtime":1365512046.144681,
"template_files":{
},
"gateway":"",
"uid":"MTM2NTUxMTk1NS45OTcwMjcwMjUuODI1NzQ",
"virt_auto_boot":0,
"power_type":"ether_wake",
"virt_cpus":"<<inherit>>",
"mgmt_parameters":"<<inherit>>",
"boot_files":{
},
"hostname":"",
"repos_enabled":false,
"mgmt_classes":[
"me310_edeka"
],
"power_pass":"",
"netboot_enabled":false,
"ipv6_autoconfiguration":false,
"profile":"ubuntu_1204",
"virt_type":"xenpv",
"interfaces":{
"eth0":{
"ipv6_address":"",
"interface_type":"",
"static":false,
"mtu":"",
"bonding_master":"",
"subnet":"",
"management":false,
"interface_master":"",
"mac_address":"00:50:56:8f:1f:f4",
"virt_bridge":"virbr0",
"netmask":"",
"bonding_opts":"",
"ip_address":"192.168.30.94",
"dhcp_tag":"",
"static_routes":[
],
"ipv6_mtu":"",
"ipv6_static_routes":[
],
"dns_name":"130408-me310-edeka.eaalab.hpi.uni-potsdam.de",
"bonding":"",
"bridge_opts":"",
"ipv6_secondaries":[
],
"ipv6_default_gateway":""
}
},
"power_address":"",
"proxy":"<<inherit>>",
"fetchable_files":{
},
"virt_file_size":"<<inherit>>",
"ldap_enabled":false,
"monit_enabled":false,
"ipv6_default_device":"",
"ctime":1365511955.994056,
"virt_disk_driver":"<<inherit>>",
"owners":[
"admin"
],
"name":"130408-me310-edeka",
"virt_ram":"<<inherit>>",
"power_id":"",
"server":"<<inherit>>",
"redhat_management_server":"<<inherit>>",
"depth":2,
"ldap_type":"authconfig",
"template_remote_kickstarts":0
}
