class cobbler_server {

	include cobbler

#for $Host in $allHosts.values
	cobblersystem { '${Host.name}.mydomain.lan':
	  ensure     => present,
	  #if "cobbler" in $Host.tags
	  profile    => '$Host.tags.cobbler[0]',
	  #end if
	  interfaces => { #slurp
  #for $Interface in $Host.network.values
'$Interface.name' => {
	                    mac_address => '$Interface.l2address',
	                    static      => true,
	                    management  => true,
	                #if "ip" in $Interface
	                    ip_address  => '$Interface.ip',
	                	#for $Network in $allNetworks.values
	                		#if $Interface.ip in $Network.network
	                    netmask     => '$Network.dottedMask',
	                		#end if
	                	#end for
	                #end if
	                    dns_name    => '$Interface.label'
	                  },
  #end for
	  },
	  hostname   => '${Host.name}.mydomain.lan',
	  comment    => '$Host.comment'
	}
#end for

}
