node $host.name {
    #if "puppet" in $host.tags
        #for $puppet_class in $host.tags.puppet
    include $puppet_class
        #end for
    #end if

    if defined( "node-$host.name") {
        	class { "node-$host.name": }
    }
}
